<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ASCII</title>
  <style>
    .ascii-image {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <img class="ascii-image" src="https://i.wolves.top/tools/202506051254345.png" alt="ASCII表1">
  <img class="ascii-image" src="https://i.wolves.top/tools/202506051254781.png" alt="ASCII表2">
</body>
  